/*.js
*.js
*.map
/figwheel_server.log
/.nrepl-port
/resources/public/js/cljs_time/coerce.cljs.cache.edn
/resources/public/js/cljs_time/core.cljs.cache.edn
/resources/public/js/cljs_time/core.cljs
/resources/public/js/cljs_time/format.cljs
/resources/public/js/cljs_time/format.cljs.cache.edn
/resources/public/js/cljs_time/internal/core.cljs.cache.edn
/resources/public/js/cljs_time/internal/core.cljs
/resources/public/js/cljs_time/internal/parse.cljs
/*.edn
/resources/public/js/cljs_time/internal/parse.cljs.cache.edn
/resources/public/js/cljs_time/predicates.cljs.cache.edn
/resources/public/js/cljs_time/coerce.cljs
/resources/public/js/cljs_time/internal/unparse.cljs
/resources/public/js/oddfox/core.cljs.cache.edn
/resources/public/js/figwheel/connect/build_client.cljs
